@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto 2rem;
    padding: 1rem 1rem 1.5rem;
    text-align: center;
    width: 375px;
}

.container h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 1rem;
}

.container img {
    border-radius: 15px;
    width: 100%;
}

.container p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    margin: 0 22px;
}

@media (max-width: 1440px) {
    body {
        width: 100%;
    }
}

.attribution {
    font-size: 15px;
    text-align: center;
}














.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}